# ***Data Types and Structures Questions***

# ***1.What are data structures, and why are they important***
Ans=Data Structures are ways of organizing and storing data so that it can be used
efficiently.
 They are important because they make data easy to access, modify, and manage, which
 improves the performance of programs (like faster searching, sorting, and memory
usage)

# ***2. Explain the difference between mutable and immutable data types with examples***
 Ans=1. Mutable data types are those whose values can be changed after creation.
 Example: List → my_list = [1, 2, 3] → my_list[0] = 10 allowed.

 2.Immutable data types are those whose values cannot be changed once created.
 Example: Tuple / String → my_tuple = (1, 2, 3) → my_tuple[0] = 10  error.

# ***3.What are the main differences between lists and tuples in Python***
 Ans= In Python, lists and tuples are both used to store multiple items in a single
variable, but they have some key differences. A list is mutable, which means its
elements can be changed, added, or removed after creation. Lists are written using
square brackets [ ] and are generally slower compared to tuples because they are
changeable. On the other hand, a tuple is immutable, which means once it is
created, its elements cannot be modified. Tuples are written using parentheses ( )
and are faster since they are fixed in size and structure. Therefore, lists are
used when the data may change, while tuples are used when the data should remain
constant.

# ***4. Describe how dictionaries store data***
 Ans= In Python, a dictionary stores data in the form of key–value pairs. Each value
 is accessed using its unique key instead of an index, making lookups fast and
efficient. Dictionaries are unordered, mutable, and dynamic, which means we can
add, update, or remove key–value pairs at any time. They are written using curly
braces { }

# ***5.Why might you use a set instead of a list in Python***
Ans=  In Python, a set is used instead of a list when we need to store unique
elements without duplicates. Unlike lists, sets do not allow repeated values and
are also unordered, meaning the elements have no fixed position. Another advantage
of sets is that they are faster for operations like searching, membership testing,
and removing duplicates, because they are implemented using hashing. For example,
converting a list to a set automatically removes duplicate values.

# ***6.What is a string in Python, and how is it different from a list***
 Ans= In Python, a string is a sequence of characters enclosed within single quotes
(' '), double quotes (" "), or triple quotes (''' '''). Strings are immutable,
which means once created, their content cannot be changed. A list, on the other
hand, is a collection of elements (which can be numbers, strings, or even other
lists) enclosed within square brackets [ ], and it is mutable, so its elements can
be modified, added, or removed. Another difference is that strings can only store
characters/text, while lists can store mixed data types.

# ***7.How do tuples ensure data integrity in Python***
 Ans=Tuples ensure data integrity in Python because they are immutable, meaning once
 a tuple is created, its elements cannot be changed, added, or deleted. This
prevents accidental modification of data and keeps it safe and consistent.

# ***8. What is a hash table, and how does it relate to dictionaries in Python***
 Ans= A hash table is a data structure that stores data in key–value pairs and uses
a hash function to compute an index for each key, allowing for fast lookup,
insertion, and deletion. In Python, dictionaries are implemented using hash tables,
 which is why accessing a value by its key is very quick compared to searching
through a list. This also ensures that each key in a dictionary is unique.

# ***9. Can lists contain different data types in Python***
 Ans=Yes, lists in Python can contain different data types. A single list can hold
integers, strings, floats, or even other lists.

# ***10. Explain why strings are immutable in Python***
 Ans= Strings are immutable in Python because once a string is created, its content
cannot be changed. This immutability ensures data integrity, makes strings hashable
 (so they can be used as dictionary keys or set elements), and improves performance,
 since Python can optimize memory usage by reusing string objects.

# ***11.What advantages do dictionaries offer over lists for certain tasks***
 Ans=Dictionaries offer several advantages over lists for tasks that involve
associating keys with values. They allow fast lookup, insertion, and deletion of
items using keys, whereas lists require searching through elements. Dictionaries
also ensure that each key is unique, making it easier to manage data without
duplicates. They are especially useful for tasks like counting occurrences, storing
 records, or mapping one value to another.

# ***12. Describe a scenario where using a tuple would be preferable over a list ***
 Ans= A tuple is preferable over a list when you want to store fixed, unchangeable
data that should not be modified accidentally. For example, storing the coordinates
 of a point (x, y) or the days of the week is ideal in a tuple because these values
are constant and don’t need to change. Tuples are also faster than lists and can be
 used as dictionary keys, which lists cannot.

# ***13. How do sets handle duplicate values in Python***
 Ans=In Python, a set automatically removes duplicate values and only stores unique
elements. If you try to add a value that already exists in the set, it will not be
added again. This makes sets useful for tasks like finding unique items or removing
 duplicates from a collection.

# ***14. How does the “in” keyword work differently for lists and dictionaries***
 Ans= In Python, the in keyword is used to check membership, but it works
differently for lists and dictionaries. For a list, in checks if a value exists
anywhere in the list. For a dictionary, in checks if the key exists in the
dictionary, not the value. This distinction is important when searching or testing
data.

# ***15.Can you modify the elements of a tuple? Explain why or why not***
 Ans=No, you cannot modify the elements of a tuple in Python because tuples are
immutable. Once a tuple is created, its size and contents cannot be changed, which
ensures data integrity and allows tuples to be used as dictionary keys or elements
of sets.

# ***16.What is a nested dictionary, and give an example of its use case***
 Ans=A nested dictionary in Python is a dictionary that contains another dictionary
as a value. It is useful for storing structured or hierarchical data, like details
of multiple entities where each entity has its own attributes.

# ***17. Describe the time complexity of accessing elements in a dictionary***
 Ans= In Python, accessing elements in a dictionary by key is very fast because
dictionaries are implemented using hash tables. The average time complexity for
looking up, inserting, or deleting a key is O(1), meaning it takes constant time,
regardless of the number of items in the dictionary. However, in rare cases of hash
 collisions, the time complexity can degrade to O(n).

# ***18.In what situations are lists preferred over dictionaries***
 Ans=Lists are preferred over dictionaries when you need to store an ordered
collection of items and frequently access elements by their position (index) rather
 than by key. They are ideal for tasks like storing sequences, iterating over items
in order, or performing operations like sorting. Unlike dictionaries, lists allow
duplicate values and are simpler when you don’t need key–value mapping.

# ***19. Why are dictionaries considered unordered, and how does that affect data retrieval***
 Ans=Dictionaries in Python are considered unordered because, until Python 3.6, they
 did not maintain the order of items as they were inserted. Even though modern
Python (3.7+) preserves insertion order, dictionaries are still fundamentally
accessed by keys, not by position. This means you cannot rely on the order of
elements for iteration, and data retrieval is always done using keys, which ensures
 fast lookup but not positional access.

# ***20. Explain the difference between a list and a dictionary in terms of data retrieval***
 Ans= The main difference between a list and a dictionary in terms of data retrieval
 is how elements are accessed. In a list, elements are accessed by their index
position, which may require searching through the list for a value, giving O(n)
time in the worst case. In a dictionary, elements are accessed by keys, which
allows fast, constant-time retrieval (O(1)) on average, thanks to the underlying
hash table implementation.

# **PRACTICAL QUESTION**

# ***1. Write a code to create a string with your name and print it***

In [2]:
name = "Tumendra"
print(name)

Tumendra

# ***2. Write a code to find the length of the string "Hello World***

In [3]:
text = "Hello World"
length = len(text)
print(length)

11

# ***3.Write a code to slice the first 3 characters from the string "Python Programming"***

In [4]:
 text = "Python Programming"
 first_three = text[:3]
 print(first_three)

Pyt

# ***4.Write a code to convert the string "hello" to uppercase***

In [5]:
text = "hello"
print(text.upper())

HELLO

# ***5. Write a code to replace the word "apple" with "orange" in the string "I like apple***

In [6]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

# ***6.Write a code to create a list with numbers 1 to 5 and print it***

In [7]:
 numbers = [1, 2, 3, 4, 5]
 print(numbers)

[1, 2, 3, 4, 5]

# ***7.Write a code to append the number 10 to the list [1, 2, 3, 4]***

In [8]:
 lst = [1, 2, 3, 4]
 lst.append(10)
 print(lst)

[1, 2, 3, 4, 10]

# ***8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]italicized text***

In [9]:
 lst = [1, 2, 3, 4, 5]
 lst.remove(3)
 print(lst)

[1, 2, 4, 5]

# *9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']*

In [10]:
 zlst = ['a', 'b', 'c', 'd']
 print(lst[1])

2

# ***10.Write a code to reverse the list [10, 20, 30, 40, 50]***

In [11]:
 lst = [10, 20, 30, 40, 50]
 lst.reverse()
 print(lst)

[50, 40, 30, 20, 10]

# ***11.Write a code to create a tuple with the elements 100, 200, 300 and print it.***

In [12]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

# ***12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').***

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

# ***13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).***

In [14]:
 numbers = (10, 20, 5, 15)
 print(min(numbers))

5

# ***14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')***

In [15]:
 animals = ('dog', 'cat', 'rabbit')
 print(animals.index("cat"))

1

# ***15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.***

In [16]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

# ***16.Write a code to create a set with the elements 'a', 'b', 'c' and print it***

In [17]:
 my_set = {'a', 'b', 'c'}
 print(my_set)

{'b', 'a', 'c'}

# ***17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.***

In [18]:
 s = {1, 2, 3, 4, 5}
 s.clear()
 print(s)

set()

# ***18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.***

In [19]:
 s = {1, 2, 3, 4}
 s.remove(4)
 print(s)

{1, 2, 3}

# ***19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}***

In [20]:
 set1 = {1, 2, 3}
 set2 = {3, 4, 5}
 union_set = set1.union(set2)
 print(union_set)

{1, 2, 3, 4, 5}

# ***20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.***

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

# ***21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it***

In [22]:
 person = {"name": "John", "age": 25, "city": "New York"}
 print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

# ***22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}***

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

# ***23. Write a code to access the value associated with the key "name" in the  dictionary {'name': 'Alice', 'age': 30}.***

In [24]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

# ***24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.***

In [25]:
 person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 person.pop('age')
 print(person)

{'name': 'Bob', 'city': 'New York'}

# ***25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.***

In [26]:
 person = {'name': 'Alice', 'city': 'Paris'}
 print('city' in person)

True

# ***26. Write a code to create a list, a tuple, and a dictionary, and print them all.***

In [27]:
 my_list = [1, 2, 3]
 my_tuple = (4, 5, 6)
 my_dict = {'a': 1, 'b': 2}
 print(my_list)
 print(my_tuple)
 print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

# ***27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)***

In [29]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[13, 24, 36, 56, 70]

# ***28. Write a code to create a list with strings and print the element at the third  index.***

In [33]:
 words = ["banana", "cherry", "date", "fig"]
 print(words[3])

fig

# ***29. Write a code to combine two dictionaries into one and print the result.***

In [34]:
 dict1 = {'a': 1, 'b': 2}
 dict2 = {'c': 3, 'd': 4}
 combined = {**dict1, **dict2}
 print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# ***30.Write a code to convert a list of strings into a set.***

In [35]:
 words = ["apple", "banana", "apple", "cherry"]
 words_set = set(words)
 print(words_set)

{'cherry', 'banana', 'apple'}